* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*  */

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background: rgb(55, 55, 55);
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgba(0,0,0,1) 42%);
  overflow-x: hidden;
}
:root a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}

.overflow-y-is-hidden{
  overflow-y: hidden;
}


body::-webkit-scrollbar {
  /* height: 1px; */
  width: 2.5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(55, 55, 55, 0.3); 
  box-shadow: inset 0 0 6px rgba(55, 55, 55, 0.3);
  border-radius: 2.5px;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  /* width: 10px; */
  border-radius: 5px;  
  background-color: rgb(255, 0, 0);
}


.overlay-for-login {
  position: absolute;
  background-color: rgba(0, 0, 0, 96%);
  height: 100vh;
  width: 100vw;
  z-index: 3;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-body {
  background-color: #252525;
  display: flex;
  justify-content: center;
  height: 450px;
  width: 350px;
  border-radius: 25px;
  color: rgba(255,255,255,0.7);
  letter-spacing: 1px;
  box-shadow: 0 0 25px 10px rgba(31, 184, 214, 8%);

}

.overlay-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.overlay-form img {
  margin: 20px;
  height: 64px;
  width: 64px;
}

.overlay-form p {
  line-height: 25px;
  text-align: center;
  margin: 20px auto 25px auto;
}

.overlay-form a {
  color:rgb(31, 184, 214);
}

.overlay-form input {
  border: none;
  border-bottom: 2px solid rgb(31, 184, 214);
  background-color: #252525;
  width: 100px;
  text-align: center;
  color: rgba(255,255,255);
  padding-bottom: 5px;
  transition: width 0.4s ease-in-out;
  margin-bottom: 25px;
}

.overlay-form input:focus {
  outline: none;
  width: 290px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #252525 inset;
  box-shadow: 0 0 0px 1000px #252525 inset;
}

input:-webkit-autofill:first-line {
  color: #ffffff;
}

.overlay-form button {
  padding: 2.5px 25px;
  background-color: rgb(2,108,147);
  color: rgba(255,255,255,0.7);
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 25px;
}

.confirmBtn {
  display: none;
}

.overlay-form button:active,
.overlay-body button:focus {
  outline: none;
}

.overlay-is-hidden {
  display: none;

}

.navbar {
  position: fixed;
  height: 50px;
  display: inline-flex;
  background-color: black;
  width: 100vw;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.navbar h4 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 6px;
  font-size: x-large;
  color: red;
  justify-content: flex-start;
  /* margin: 15px 20px 15px 15px; */
  font-style: bold;
}

.navbar ul {
  display: inline-flex;
  flex-direction: row;
  margin: 5px auto 5px 15px;
  align-items: center;
}

.navbar li {
  list-style: none;
  margin-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  color: rgb(126, 126, 126);
}

.navbar a:hover,
.navbar a:visited,
.navbar a:active {
  text-decoration: none;
}

.profile {
display: inline-flex;
margin: 5px 5px 5px auto;
align-items: center;
}

.profile h3 {
  color: rgb(126, 126, 126);
  margin-right: 15px;
  font-style: italic;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 30%;
  flex-shrink: 0;
  background-color: purple;
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slideshow {
  height: 100vh;
  overflow-x: none;
}

.contentSlides {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: opacity 1.5s ease-in-out;
  top: 0;
  margin-bottom: 0;
}

.contentSlides + .contentSlides {opacity: 1;}

.mySlidesBackdrop {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100%;
}

.contentText {
  position: absolute; 
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;  
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  height: fit-content;
  padding: 25px;
  box-shadow: 0 -10px 25px 25px rgba(0, 0, 0, 70%);
}


.headerSlides{
  margin-top: 0px;
  font-size: x-large;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bolder;
}


.descriptionSlides{
  font-weight: 500;
  margin-top: 25px;
  color: white;
  font-size: 1.2rem;
  min-height: 100px;
  max-height: 120px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.sectCarousel {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-type: center;
  background: rgb(25,25,25);
  background: linear-gradient(180deg, rgba(25,25,25,1) 10%, rgba(0,0,0,1) 100%);
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
}
.sectCarousel-is-hidden{
  display: none;
}

.singleCarousel {
  margin-bottom: 25px;
}
.singleCarousel h2 {
  text-align: left;
}

.carousel-inwrap {
  width: 100%;
  height: 20vh;
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow: hidden;
  overflow-y: hidden;
}


.carousel {
  display: flex;
  transition: 3s;
  height: 20vh;
  margin-bottom: 20px;
}

.carousel-inwrap::-webkit-scrollbar {
  height: 4px;
}

.carousel-inwrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(55, 55, 55, 0.3); 
  box-shadow: inset 0 0 6px rgba(55, 55, 55, 0.3); 
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.carousel-inwrap::-webkit-scrollbar-thumb {
  border-radius: 5px;  
  background-color: rgb(253, 0, 0);
}

h2 {
  color: white;
  text-align: center;
  margin: 25px;
}

.card {
  position: relative;
  min-width: 250px;
  max-width: 250px;
  height: 20vh;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  scroll-snap-align: start;
}

.card__title_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-left: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 -8px 10px 2px rgba(0, 0, 0, 0.8);
  color: white;
}

.card img {
  object-fit: cover;
}

.nav {
  position: absolute;
  display: flex;
  margin-top: 75px;
  z-index: 1;
  width: 100%;
  color: white;
}

.prev {
  display: inline-flex;  
  position: absolute;
  left: 0;
  top: -75px;
  justify-content: center;
  height: 20vh;
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  background: rgb(79,79,79);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, rgba(0,0,0,1) 74%);
  cursor: pointer;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.prev:hover,
.next:hover{
  opacity: 0.8;
}

.next {
  display: inline-flex;  
  position: absolute;
  right: 90px;
  top: -75px;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  justify-content: center;
  height: 20vh;
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  /* background-color: chartreuse; */
  background: rgb(79,79,79);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0,0,0,1) 74%);
  cursor: pointer;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fa-angle-left, .fa-angle-right{
  color: rgba(255,255,255,0.5);
}